In [147]:
import pandas as pd
import numpy as np

# Homework #4


The howework is due May 23rd 11:59PM.

## 1. Bike sharing dataset

This is a dataset of bike sharing data from 2011 and 2012 from Washington D.C. and is 
publicly available in [here](http://capitalbikeshare.com/system-data). Read the [README](./data/bike_sharing/Readme.txt) for details.

For this question, construct  

* a decision tree model
* a random forest
* a XGBoost tree model

to predict

1. the weather situation ('weathersit' column) using other columns.
2. the number of bikes ('cnt' column) using other columns.

In [5]:
bike = pd.read_csv('data/bike_sharing/day.csv')
bike

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [18]:
x_cnt=bike.iloc[:,2:-1]
x_weather = bike.drop(['instant', 'dteday',"weathersit"], axis=1)

y_cnt=bike["cnt"]
y_weather=bike["weathersit"]

In [94]:
y_cnt

0       985
1       801
2      1349
3      1562
4      1600
       ...
726    2114
727    3095
728    1341
729    1796
730    2729
Name: cnt, Length: 731, dtype: int64

While weatherit has only [1,2,3] responses, It can be determined by decisiontree classifier. But "cnt" needs decision tree regressor.

In [100]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x_weather,y_weather,test_size=0.2)
classifier = DecisionTreeClassifier(criterion='entropy')
classifier.fit(X_train,y_train)
classifier.score(X_test,y_test)

0.6938775510204082

In [104]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
X_train,X_test,y_train,y_test=train_test_split(x_cnt,y_cnt,test_size=0.2)
regressor.fit(X_train,y_train)
regressor.score(X_test,y_test)

0.9871495470120712

In [105]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
X_train,X_test,y_train,y_test=train_test_split(x_weather,y_weather,test_size=0.2)
classifier = RandomForestClassifier(criterion='entropy')
classifier.fit(X_train,y_train)
classifier.score(X_test,y_test)

0.8095238095238095

In [106]:
regressor = RandomForestRegressor()
X_train,X_test,y_train,y_test=train_test_split(x_cnt,y_cnt,test_size=0.2)
regressor.fit(X_train,y_train)
regressor.score(X_test,y_test)

0.9965371830597908

In [110]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.4.2-py3-none-win_amd64.whl (97.8 MB)
Requirement already satisfied: numpy in c:\users\pc\anaconda3\envs\env\lib\site-packages (from xgboost) (1.18.1)
Requirement already satisfied: scipy in c:\users\pc\anaconda3\envs\env\lib\site-packages (from xgboost) (1.6.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.4.2
Note: you may need to restart the kernel to use updated packages.

In [124]:
import xgboost as xgb

classifier=xgb.XGBClassifier(eval_metric= 'mlogloss')

X_train,X_test,y_train,y_test=train_test_split(x_weather,y_weather,test_size=0.2)

classifier.fit(X_train,y_train)
classifier.score(X_test,y_test)

0.7687074829931972

In [114]:
regressor = xgb.XGBRegressor()
X_train,X_test,y_train,y_test=train_test_split(x_cnt,y_cnt,test_size=0.2)
regressor.fit(X_train,y_train)
regressor.score(X_test,y_test)

0.9938840661536381

## 2. Education datataset

This dataset is taken from [Kaggle](https://www.kaggle.com/spscientist/students-performance-in-exams). For this dataset, construct a decision tree regression and a XGBoost regression model to predict

1. math score
2. reading score
3. writing score

Beware: you might have to transform the data first before you train and test your models.

In [218]:
education = pd.read_csv('./data/student_performance/StudentsPerformance.csv')
education

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [219]:
from sklearn.preprocessing import OneHotEncoder
ys_dict={"y_math":education["math score"],"y_reading":education["reading score"],"y_writing":education["writing score"]}
Xs_dict={"X_math":education.drop(["math score"],axis=1),"X_reading":education.drop(["reading score"],axis=1),
         "X_writing":education.drop(["writing score"],axis=1)}

I've created 3 X and y dict in order to apply models in a loop. And o function is prepared for different models and data.

In [220]:
def do_exp(model,X,y):
    ohe=OneHotEncoder()
    X=ohe.fit_transform(X).toarray()
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
    if model=="xgb":
        regressor = xgb.XGBRegressor()
        regressor.fit(X_train,y_train)
        sc=regressor.score(X_test,y_test)
    if model=="Dtr":
        regressor = RandomForestRegressor()
        regressor.fit(X_train,y_train)
        sc=regressor.score(X_test,y_test)
    return sc

In [221]:
import xgboost as xgb
from sklearn.tree import DecisionTreeRegressor

y_s=["y_math","y_reading","y_writing"]
X_s=["X_math","X_reading","X_writing"]
models=["xgb","Dtr"]

for i in range(len(models)):
    for j in range(len(y_s)):
        print(" {} score of model {} is {}".format(y_s[j],models[i],do_exp(models[i],Xs_dict[X_s[j]],ys_dict[y_s[j]])))

 y_math score of model xgb is 0.7349402984570185
 y_reading score of model xgb is 0.7025908525291167
 y_writing score of model xgb is 0.7152409227785377
 y_math score of model Dtr is 0.5634743406960401
 y_reading score of model Dtr is 0.603221153531865
 y_writing score of model Dtr is 0.6060841328203272

In [246]:
booking

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id
0,1000027,2016-08-13,2016-08-14,8183,desktop,7168,Elbonia,Gondal,1000027_1
1,1000027,2016-08-14,2016-08-16,15626,desktop,7168,Elbonia,Gondal,1000027_1
2,1000027,2016-08-16,2016-08-18,60902,desktop,7168,Elbonia,Gondal,1000027_1
3,1000027,2016-08-18,2016-08-21,30628,desktop,253,Elbonia,Gondal,1000027_1
4,1000033,2016-04-09,2016-04-11,38677,mobile,359,Gondal,Cobra Island,1000033_1
...,...,...,...,...,...,...,...,...,...
1166830,999855,2016-05-01,2016-05-02,20345,mobile,359,Gondal,Fook Island,999855_1
1166831,999944,2016-06-23,2016-06-24,17944,desktop,4541,Gondal,Glubbdubdrib,999944_1
1166832,999944,2016-06-24,2016-06-27,47075,desktop,2322,Gondal,Glubbdubdrib,999944_1
1166833,999944,2016-06-27,2016-06-29,228,desktop,384,Gondal,Glubbdubdrib,999944_1
1166834,999944,2016-06-29,2016-06-30,62930,desktop,4541,Gondal,Glubbdubdrib,999944_1

# 3. booking.com Challenge

This dataset is taken from [Booking.com Challenge ACM WSDM 2021](https://www.bookingchallenge.com/).

The original challenge was to predict the final destination city of the trip by looking at the data at hand for each user. For this question, you are free to do whatever you like. Do something interesting with the data :)

In [313]:
booking = pd.read_csv('./data/booking/train_set.csv')

booking["checkin"]=pd.to_datetime(booking["checkin"])
booking["checkout"]=pd.to_datetime(booking["checkout"])

In [294]:
booking

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id,delta
0,1000027,2016-08-13,2016-08-14,8183,desktop,7168,Elbonia,Gondal,1000027_1,1
1,1000027,2016-08-14,2016-08-16,15626,desktop,7168,Elbonia,Gondal,1000027_1,2
2,1000027,2016-08-16,2016-08-18,60902,desktop,7168,Elbonia,Gondal,1000027_1,2
3,1000027,2016-08-18,2016-08-21,30628,desktop,253,Elbonia,Gondal,1000027_1,3
4,1000033,2016-04-09,2016-04-11,38677,mobile,359,Gondal,Cobra Island,1000033_1,2
...,...,...,...,...,...,...,...,...,...,...
1166830,999855,2016-05-01,2016-05-02,20345,mobile,359,Gondal,Fook Island,999855_1,1
1166831,999944,2016-06-23,2016-06-24,17944,desktop,4541,Gondal,Glubbdubdrib,999944_1,1
1166832,999944,2016-06-24,2016-06-27,47075,desktop,2322,Gondal,Glubbdubdrib,999944_1,3
1166833,999944,2016-06-27,2016-06-29,228,desktop,384,Gondal,Glubbdubdrib,999944_1,2
1166834,999944,2016-06-29,2016-06-30,62930,desktop,4541,Gondal,Glubbdubdrib,999944_1,1

### First, the checkin and checkout time has transformed to date. Then the staying duration is obtained, then   booker country and hotel country has been added to a array in order to tranform them with label encoder. Label encoder is fit to this array, then these two columns are transformed. Device class is also label encoded.

In [370]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

booking["delta"]=(booking["checkout"]-booking["checkin"]).dt.days.astype("int16")
X=booking.drop(["hotel_country","checkin","checkout","utrip_id"],axis=1)
y=booking["hotel_country"]

le=LabelEncoder()
le1=LabelEncoder()
X_array=np.array(X["booker_country"])
y_array=np.array(y)
fit_array=np.concatenate([X_array,y_array],axis=0)
fit_array
le.fit(fit_array)
y_labeled=le.transform(y)
X["booker_country"]=le.transform(X["booker_country"])
X["device_class"]=le1.fit_transform(X["device_class"])
X=X[0:100000]
y_labeled=y_labeled[0:100000]

In [374]:
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
X_train,X_test,y_train,y_test=train_test_split(X,y_labeled,test_size=0.2)
classifier=xgb.XGBClassifier(eval_metric= 'mlogloss')
classifier.fit(X_train,y_train)
classifier.score(X_test,y_test)

C:\Users\Pc\anaconda3\envs\env\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

0.764

In [376]:
X_train,X_test,y_train,y_test=train_test_split(X,y_labeled,test_size=0.2)
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)
classifier.score(X_test,y_test)

0.432